.calc-container {
  display: grid;
  min-height: 70vh;
  margin: 20px;
  margin-left: 20px;
  justify-content: end;
  grid-template-columns: repeat(4, 7rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 5rem);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.span-2 {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.side-color {
  background: #f46b45;
}
